/* reset */
@font-face {
  font-family: neon;
  src: url(/assets/font/hellodenverdisplaybold_v1.6.ttf);
}

body,
main,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

main {
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

:root {
  --cellWidth: 64px;
  --cellHeight: 64px;
  --cellWidthMobile: 32px;
  --cellHeightMobile: 32px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid white;
  box-shadow: 0 0 10px hsl(0, 0%, 100%), 0 0 5px hsl(0, 0%, 100%),
    0 0 10px hsl(0, 0%, 100%);
  width: var(--cellWidthMobile);
  height: var(--cellHeightMobile);
  box-sizing: border-box;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 60%;
  margin-bottom: 80px;
}
.estilizacao {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.pieceRed {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2.5px solid #770202;
  box-shadow: 0 0 10px hsl(0, 100%, 59%), 0 0 20px hsl(0, 100%, 59%),
    0 0 10px hsl(0, 100%, 59%);
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
  animation: effectNeon 0.2s alternate ease-in-out;
}

.pieceBlue {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2.5px solid #032a72;
  box-shadow: 0 0 10px hsl(241, 100%, 53%), 0 0 20px hsl(241, 100%, 53%),
    0 0 10px hsl(241, 100%, 53%);
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
  animation: effectNeon 0.2s alternate ease-in-out;
}

.direita {
  background: linear-gradient(
    to right,
    hsl(0, 0%, 50%),
    hsl(0, 0%, 15%),
    hsl(0, 0%, 5%)
  );
}
.esquerda {
  background: linear-gradient(
    to right,
    hsl(0, 0%, 5%),
    hsl(0, 0%, 15%),
    hsl(0, 00%, 50%)
  );
}
.buttons {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  width: 100px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  font-family: neon;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  text-shadow: 0 0 5px white;
  margin-bottom: 2rem;
}
.red,
.blue {
  background: none;
}
.playerNeonRed {
  box-shadow: 0 0 15px hsl(0, 100%, 49%), 0 0 30px hsl(0, 100%, 58%),
    0 0 15px hsl(0, 100%, 50%);
}
.playerNeonBlue {
  box-shadow: 0 0 15px hsl(224, 100%, 33%), 0 0 30px hsl(224, 100%, 33%),
    0 0 15px hsl(224, 100%, 33%);
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.911);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 90%;
  height: 55%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "neon";
  color: #fff;
  text-align: center;
}

.modal h2 {
  font-size: 4rem;
}

#modal-button {
  font-size: 1rem;
  font-family: "neon";
  font-weight: 700;
  padding: 1rem;
  background: none;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 0 0 10px hsl(0, 0%, 100%), 0 0 10px hsl(0, 0%, 100%),
    0 0 10px hsl(0, 0%, 100%);
}
#modal-button:hover {
  background-color: #000;
  color: white;
  box-shadow: none;
}

.hidden {
  display: none;
}
.red_winner {
  border: 10px solid #77020285;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #770202, 0 0 20px #770202,
    0 0 25px #770202, 0 0 30px #770202, 0 0 35px #770202;
  box-shadow: 0 0 15px hsl(0, 100%, 49%), 0 0 50px hsl(0, 100%, 58%),
    0 0 15px hsl(0, 100%, 50%), inset 0 0 15px hsl(0, 100%, 49%),
    inset 0 0 50px hsl(0, 100%, 58%), inset 0 0 15px hsl(0, 100%, 50%);
  animation: glowRed 1s ease-in-out infinite alternate;
}
.blue_winner {
  border: 10px solid #0073e685;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  box-shadow: 0 0 15px hsl(224, 100%, 33%), 0 0 50px hsl(224, 100%, 33%),
    0 0 15px hsl(224, 100%, 33%), inset 0 0 15px hsl(224, 100%, 33%),
    inset 0 0 50px hsl(224, 100%, 33%), inset 0 0 15px hsl(224, 100%, 33%);
  animation: glowBlue 1s ease-in-out infinite alternate;
}
.draw{
  border: 20px solid rgb(211, 211, 211, 0.5);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #0073e6;
  box-shadow: 0 0 15px white, 0 0 50px white, 0 0 15px #fff,inset 0 0 15px #fff, inset 0 0 50px #fff,inset 0 0 15px #fff;
  animation: glowWhite 1s ease-in-out infinite alternate;
}
@media screen and (min-width: 900px) {
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid white;
    box-shadow: 0 0 10px hsl(0, 0%, 100%), 0 0 10px hsl(0, 0%, 100%),
      0 0 10px hsl(0, 0%, 100%);
    width: var(--cellWidth);
    height: var(--cellHeight);
    box-sizing: border-box;
  }

  #container {
    display: flex;
    height: 448px;
    width: 463px;
    margin-bottom: 80px;
  }
  .estilizacao {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .columnContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
  }

  .pieceRed {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid #770202;
    box-shadow: 0 0 10px hsl(0, 100%, 59%), 0 0 40px hsl(0, 100%, 59%),
      0 0 10px hsl(0, 100%, 59%);
    border-radius: 50%;
    background-color: transparent;
    pointer-events: none;
    animation: effectNeon 0.2s alternate ease-in-out;
  }

  .pieceBlue {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid #032a72;
    box-shadow: 0 0 10px hsl(241, 100%, 53%), 0 0 40px hsl(241, 100%, 53%),
      0 0 10px hsl(241, 100%, 53%);
    border-radius: 50%;
    background-color: transparent;
    pointer-events: none;
    animation: effectNeon 0.2s alternate ease-in-out;
  }
  .hastes {
    height: 580px;
    width: 50px;
  }

  .base-direita {
    width: 100px;
    height: 170px;
    border-radius: 0 300px 0 0;
    background: linear-gradient(
      to right,
      hsl(0, 0%, 5%),
      hsl(0, 0%, 3%),
      hsl(0, 0%, 1%)
    );
  }
  .base-esquerda {
    width: 100px;
    height: 170px;
    border-radius: 300px 0 0 0;
    background: linear-gradient(
      to right,
      hsl(0, 0%, 1%),
      hsl(0, 0%, 3%),
      hsl(0, 0%, 5%)
    );
  }
  .direita {
    background: linear-gradient(
      to right,
      hsl(0, 0%, 50%),
      hsl(0, 0%, 15%),
      hsl(0, 0%, 5%)
    );
  }
  .esquerda {
    background: linear-gradient(
      to right,
      hsl(0, 0%, 5%),
      hsl(0, 0%, 15%),
      hsl(0, 00%, 50%)
    );
  }
  .buttons {
    display: flex;
    width: 900px;
    margin-bottom: 30px;
    justify-content: space-between;
    position: fixed;
  }
  .btn {
    width: 150px;
    height: 70px;
    border: none;
    text-transform: uppercase;
    font-family: neon;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    text-shadow: 0 0 5px white;
  }
  .red,
  .blue {
    background: none;
  }
  .playerNeonRed {
    box-shadow: 0 0 15px hsl(0, 100%, 49%), 0 0 50px hsl(0, 100%, 58%),
      0 0 15px hsl(0, 100%, 50%);
  }
  .playerNeonBlue {
    box-shadow: 0 0 15px hsl(224, 100%, 33%), 0 0 50px hsl(224, 100%, 33%),
      0 0 15px hsl(224, 100%, 33%);
  }

  .modal {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.911);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modal-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: "neon";
    color: #fff;
    text-align: center;
  }

  .modal h2 {
    font-size: 4rem;
  }

  .modal figure {
    text-align: center;
  }

  .modal figure img {
    width: 70%;
    text-align: center;
  }

  #modal-button {
    font-size: 1rem;
    font-family: "neon";
    font-weight: 700;
    padding: 1rem;
    background: none;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0 0 10px hsl(0, 0%, 100%), 0 0 10px hsl(0, 0%, 100%),
      0 0 10px hsl(0, 0%, 100%);
  }
  #modal-button:hover {
    background-color: #000;
    color: white;
    box-shadow: none;
  }
  .none_event_click{
    pointer-events: none;
  }
  .hidden {
    display: none;
  }
  .red_winner {
    border: 20px solid #77020285;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #770202, 0 0 20px #770202,
      0 0 25px #770202, 0 0 30px #770202, 0 0 35px #770202;
    box-shadow: 0 0 15px hsl(0, 100%, 49%), 0 0 50px hsl(0, 100%, 58%),
      0 0 15px hsl(0, 100%, 50%), inset 0 0 15px hsl(0, 100%, 49%),
      inset 0 0 50px hsl(0, 100%, 58%), inset 0 0 15px hsl(0, 100%, 50%);
    animation: glowRed 1s ease-in-out infinite alternate;
  }
  .blue_winner {
    border: 20px solid #0073e685;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
      0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    box-shadow: 0 0 15px hsl(224, 100%, 33%), 0 0 50px hsl(224, 100%, 33%),
      0 0 15px hsl(224, 100%, 33%), inset 0 0 15px hsl(224, 100%, 33%),
      inset 0 0 50px hsl(224, 100%, 33%), inset 0 0 15px hsl(224, 100%, 33%);
    animation: glowBlue 1s ease-in-out infinite alternate;
  }
  .fill_sequency_red > div{
    background:#770202;
    animation: effectNeon 0.2s alternate ease-in-out;

  }
  .fill_sequency_blue > div{
    background: #0073e6;
    animation: effectNeon 0.2s alternate ease-in-out;
  }
}

@keyframes effectNeon {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    box-shadow: none;
  }
  60% {
    opacity: 0;
    box-shadow: none;
  }
  80% {
    opacity: 1;
    box-shadow: none;
  }
}
@keyframes glowBlue {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
      0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    box-shadow: 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6,
      0 0 20px #0073e6, 0 0 25px #0073e6, inset 0 0 5px #0073e6,
      inset 0 0 10px #0073e6, inset 0 0 15px #0073e6, inset 0 0 20px #0073e6,
      inset 0 0 25px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6,
      0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    box-shadow: 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6,
      0 0 25px #0073e6, 0 0 30px #0073e6, inset 0 0 10px #0073e6,
      inset 0 0 20px #0073e6, inset 0 0 25px #0073e6, inset 0 0 30px #0073e6;
  }
}
@keyframes glowRed {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #770202, 0 0 20px #770202,
      0 0 25px #770202, 0 0 30px #770202, 0 0 35px #770202;
    box-shadow: 0 0 5px #770202, 0 0 10px #770202, 0 0 15px #770202,
      0 0 20px #770202, 0 0 25px #770202, inset 0 0 5px #770202,
      inset 0 0 10px #770202, inset 0 0 15px #770202, inset 0 0 20px #770202,
      inset 0 0 25px #770202;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #770202,
      0 0 40px #770202, 0 0 50px #770202, 0 0 60px #770202, 0 0 70px #770202;
    box-shadow: 0 0 10px #770202, 0 0 15px #770202, 0 0 20px #770202,
      0 0 30px #770202, 0 0 35px #770202, inset 0 0 10px #770202,
      inset 0 0 20px #770202, inset 0 0 30px #770202, inset 0 0 35px #770202;
  }
}

@keyframes glowWhite {
  from {
    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #fff, 0 0 20px #fff,
      0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff,
      0 0 25px #fff, inset 0 0 5px #fff, inset 0 0 10px #fff,
      inset 0 0 15px #fff, inset 0 0 20px #fff, inset 0 0 25px #fff;
  }
  to {
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #fff, 0 0 40px #fff,
      0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 35px #fff, inset 0 0 10px #fff, inset 0 0 20px #fff,
      inset 0 0 30px #fff, inset 0 0 35px #fff;
  }
}
